<table class="m-2">
	<tbody>
		<tr>
			<th>Lundi</th>
			<td>
				<span class="text-primary">  11:00 &ndash; 00:00</span>
			</td>
		</tr>
		<tr>
			<th>Mardi</th>
			<td>
				<span class="text-primary">11:00 &ndash; 00:00</span>
			</td>
		</tr>
		<tr>
			<th>Mercredi</th>
			<td>
				<span class="text-primary">11:00 &ndash; 00:00</span>
			</td>
		</tr>
		<tr>
			<th>Jeudi</th>
			<td>
				<span class="text-primary">11:00 &ndash; 00:00</span>
			</td>
		</tr>
		<tr>
			<th>Vendredi</th>
			<td>
				<span class="text-primary">11:00 &ndash; 00:00</span>
			</td>
		</tr>
		<tr>
			<th>Samedi</th>
			<td>
				<span class="text-primary">11:00 &ndash; 00:00</span>
			</td>
		</tr>
		<tr>
			<th>Dimanche</th>
			<td>
				<span class="text-primary">11:00 &ndash; 00:00</span>
			</td>
		</tr>
	</tbody>
</table>
