<div class="container-fluid p-5 banner shadow-lg bg-white rounded">
    <div class="contain-banner pb-3 px-2">
        <img src="{{ asset('build/images/crepe-white.png') }}" width="40" height="40" class="banner-icone mt-5" alt="logo">
        <h1 class="text-light">Notre concept</h1>
        <p class="text-light describe-banner m-5 fst-italic">Laissez-vous convaincre et profitez de la cuisine française. Un excellent fast-food vous attend. Laissez-vous convaincre le temps d’une pause par nos desserts divins ou par notre chocolat délicat. Nous serions ravis de vous accueillir pour un déjeuner délicieux ou un dîner dans une atmosphère agréable.</p>
    </div>
</div>