<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="{{ asset('build/images/crepe-white.png') }}" width="30" height="30" class="d-inline-block align-top mx-2" alt="logo">
  	<a class="title navbar-brand text-light mx-2" href="{{ path('home') }}">
		La Fabrique
	</a>
  <button class="navbar-toggler mx-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mt-1">
      <li class="nav-item ">
        <a class="nav-link text-light fst-italic mx-4" href="#">Notre carte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mx-4 fst-italic" href="#">Nos services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mx-4 fst-italic" href="#">Nos horaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light mx-4 fst-italic" href="#">Nous contactez</a>
      </li>
    </ul>
  </div>
</nav>
